<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.OwnerComplainMapper">
    <select id="selectComplain" resultType="com.example.backend.pojo.Complain">
        select  c.id,c.description,c.name,c.gender,c.phone_number,c.personnel_name,c.personnel_phone_number,c.status,c.update_time
        from complain c
        <where>
            <if test="name != null and name !=''">
                and c.name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <insert id="insertcomplain" useGeneratedKeys="true" keyProperty="id">
        insert into complain(description,name,gender,phone_number,
                          create_time, update_time)
            values (#{description},#{name},#{gender},#{phoneNumber},
                    #{createTime},#{updateTime})
    </insert>
</mapper>
